body {
    padding: 20px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: block;

}

header .header__nav {
    display: flex;

    overflow: hidden;
}

header .header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

header .header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: rgb(145, 140, 140);
    z-index: 1;
    /* padding-right: 35rem; */
}

header .header__logo h4 {
    padding-left: 30px;
    color: #aa4040;
    font-size: 20px;
    display: inline;
    z-index: 4;
}

header .header__nav .header__menu {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    background-color: rgb(117, 127, 220);
    /* padding: 20rem; */
}

/* header .header__nav .header__menu-mobile {
    padding: 20px;
    display: flex;
    flex: 1.236;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
} */

header .header__nav .header__menu li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.hero-page {
    display: flex;
    position: relative;
    height: 100vh;
}

section .hero {
    display: flex;
    width: 45%;
    height: 99h;
    overflow: hidden;
    background-color: #aa4040;
    position: relative;
}

section .hero .hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

section .hero .hero-image img {
    width: 100%;
    height: 100%;
    z-index: 1;

}

section .hero .hero-image .hero-image__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    width: 100%;
}

/* section  .hero-content .hero-content-info{
  padding-left: 16rem;
} */
section .hero .hero-image h2 {
    position: absolute;
    bottom: 0;
    /* padding-top: 100rem; */
    padding: -3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 100px;
    z-index: 4;
    color: #2a1010;
    flex-wrap: wrap;
    /* height: 100vh; */
}

section .hero-content {
    flex: 1.22;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* flex-wrap: wrap; */
    max-height: 50vh;
    max-width: 500px;
}

section .hero-content .hero-content-info {
    padding: 44px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 120vh;
}

section .hero-content .hero-content-info h1 {
    font-size: 30px;
    font-weight: 50px;
    font-family: monospace;
    color: #3b1212;
}

section .hero-content .hero-content-info p {
    margin: 22px 0 0 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    height: 50%;
}

section .hero-content .hero-content-info button {
    margin: 41px 0 0 41px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

section .hero-content .hero-content-info .hero-content__button .hero-content__reserve-button {
    padding: 10px;
    border-radius: 26px;
    min-width: 100px;
    outline: none;
    border: none;
    background: grey;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

section .hero-content .hero-content-info .hero-content__button .hero-content__play-button {
    border: none;
    outline: none;
    background: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #3b1212;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

section .hero-content .hero-content-info .hero-content__button .hero-content__play-button img {
    margin-right: 12px;
    width: 46px;
    height: 46px;
    object-fit: contain;
}

section .hero-content .hero-content__testimonial {
    padding: 10px 10px;
    /* padding-top: 10rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background: #fff;
    position: relative;
    max-height: 99vh;

}

section .hero-content .hero-content__testimonial .hero-content__customer {
    flex: 1;
    gap: 10px;
}

section .hero-content .hero-content__testimonial .hero-content__customer h4 {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;

}

section .hero-content .hero-content__testimonial .hero-content__customer p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    opacity: 0.5;
}

section .hero-content .hero-content__testimonial .hero-content__review {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border-left: 1px solid #000;
    min-width: 100px;
}

section .hero-content .hero-content__testimonial .hero-content__review img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

section .hero-content .hero-content__testimonial .hero-content__review p {
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    opacity: 0.8;
}

.about-us {
    display: flex;
    position: relative;
    min-height: 720px;
    overflow: hidden;
    /* max-width: 500px; */
    /* border: 1px solid black; */

}

.logo-about-us {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.about-text {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    /* flex: 1 1 auto; */
    justify-content: center;
    padding: 34px;
    flex-direction: column;
    position: relative;
}

.about-text p {
    padding: 1rem;
}

.about-us__image {
    border-right: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 140px;
    padding-left: 70px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.about-us__image div {
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .about-us__image-about1{
    border-bottom: 8px solid var(--color-cream);
    background-image: url("../../img/palm1.png");
}
.about-us__image-about1 img{
    width: 225px;
    height: 200px;
}
.about-us__image-about2 img{
    width: 225px;
    height: 160px;
} */
.about-us__button {
    position: absolute;
    right: 0;
    padding: 10px;
    min-height: 44px;
    background: #000;
    border-radius: 32px 0 0 32px;
    border: 0;
    outline: 0;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    cursor: pointer;
}

.about-us__button img {
    object-fit: contain;
    margin-left: 32px;
}

.food {
    padding: 1rem;
    /* padding-top: -2rem; */
    display: flex;
    flex-direction: column;
    background-color: #267871;
    align-items: center;
    width: 100%;
    max-height: fit-content;
    height: 200vh;
}

.food__title {
    font-size: 56px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    line-height: 78px;
    color: #2c3e50;
    text-align: center;
}

.food__filter {
    margin-top: 48px;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.food__filter-btn {
    padding: 10px 28px;
    /* display: flex; */

    /* padding-left: 100px; */
    text-align: center;
    gap: 20px;
    background: #BABDDB;
    border: 1px solid #267998;
    border-radius: 46px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    cursor: pointer;

}

.food__filter-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;

}

.food__filter-btn .active {
    background: #BABDDB;
    color: #BAafff;
    align-items: center;

}

.food__filter-btn :hover {
    background: #c84edd;
    color: #59dda6;
}

.food__catalogue {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 130vh;
    max-width: fit-content;
    overflow: hidden;
    /* position: relative; */
    flex-direction: row;
    flex: 1 1 auto;
}

.food__button {
    width: fit-content;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #c66767;
    border: none;
    border: #000;
    border-radius: 14px;
    cursor: pointer;

}

.food__button img {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin: 10px;
}

.food__card {
    padding: 10px;
    min-width: 260px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border-radius: 26px;
    background: #112b38;
    border: 1px solid #2a1010;
}

article {
    max-width: fit-content;
    flex: 1 1 auto;
}

.food__card-image {
    width: 110px;
    height: 84px;
    object-fit: contain;
}

.food__card-title {
    margin-top: 47px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 32px;
    color: #BAafff;
}

.food__card-details {
    width: 100px;
    margin-top: 32px;
    display: flex;
    gap: 50px;
}

/* .food__card-details p{
    display: inline;
} */
.food__card-rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.food__card-rating img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.food__card-rating p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #59dda6;

}

.food__card-price {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #59dda6;
}

.food__card.active-card {
    background: rgb(113, 126, 191);
    min-width: 250px;
}

.food__card.active-card .food__card-image {
    width: 164px;
    height: 160px;

}

.food__card.active-card .food__card-title {
    color: var(black);
    font-size: 32px;
}

.food__card.active-card .food__card-rating img {
    width: 22px;
    height: 22px;
}

.food__card.active-card .food__card-rating p {
    font-size: 24px;
    color: var(pink);
}

.food__card.active-card .food__card-price {
    font-size: 24px;
    color: #2a1010;
}

.trending {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.roller__subtitle{
    text-align: center;
    font-size: larger;
}

.trending__discover{
position: absolute;
top:44%;
left:44%;
z-index: 1;
width:160px;
height:160px;
background-color: #BAafff;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.trending__discover p{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.trending-roller,
.trending-horse {
    width: 100%;
    min-height: 540px;
    display: flex;
    flex-direction: row;
}

.trending__content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 64px;
}

.trending__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}

.trending__list li {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    min-width: 210px;
}

.trending__icon {
    width: 24px;
    height: 24px;
    background-color: var(pink);
    border-radius: 100%;
}

.trending__icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.trending__list p {
    flex: 1;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(brown);
}

.trending__image {
    flex: 1;
    position: relative;
    padding: 32px 64px;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* .trending-beach .trending__image {
    background-image: url('../../img/palm1.jpg');
}

.trending-horse .trending__image {
    background-image: url('../../img/palm1.jpg');
} */

.trending__image img {
    width: 354px;
    height: 560px;
    object-fit: contain;
}
.trending__arrow{
    position: absolute;
    z-index: 1;

}
.trending__arrow img{
    object-fit: contain;

}
.trending__arrow-left{
    left: -2.5px;
    top: 12%;

}
.trending__arrow-left img, .trending__arrow-top img{
    width: auto;
    height:100%;
}
.subscription{
    padding: 24px;
    background: gray;
    flex-direction: column;
    overflow: hidden;
}
.subscription h2{
    font-size: 88px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 123px;
    color: #fff;
    text-align: center;
}
.subscription p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    line-height: 36px;
    margin-top: 32px;
    color: #8a0f0f;
    
}
.subscription__form{
    min-width: 480px;
    margin-top: 40px;
    padding: 14px 14px 14px 24px;
    display: flex;
    gap: 10px;
    border: 1px solid rgb(16, 9, 9);
    border-radius: 46px;
}
.subscription__form input{
    flex: 1;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    opacity: 0.5;
    background: transparent;
    border: none;
    outline: none;
}
.subscription__form input::placeholder{
    color: #17f426;
    opacity: 0.5;
}
.subscription__form button{
    padding: 20px;
    min-width: 180px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background: black;
    border-radius: 46px;
    border: none;
    outline: none;
    cursor: pointer;
}
.footer{
    
    padding: 10px 20px;
    background-color: white;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    display: flex;

}
.footer__logo{
    font-size: 24px;
    font-weight: bold;
font-family: sans-serif;
    text-transform: uppercase;
    text-decoration-line: line-through;
    color: black;
    cursor: pointer;
}
.footer__logo span{
    color: blue;

}
.footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;

}
.footer ul:last-child{
    gap: 32px;

}
.footer__nav li{ 
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: red;
    cursor: pointer;

}
.footer__nav a{
    text-decoration: none;
    color: #BAafff;
}
.footer__social li{
    width: 42px;
    height: 42px;
    background-color: #2a1010;
    border-radius: 100%;
}
.footer__social li img{
    width: 42px;
    height: 42px;
    object-fit: contain;
}

/* media */

@media screen and (max-width: 550px) {

    body {
        font-size: 10PX;
        flex-direction: column;
    }

    html {
        font-size: 3rem;
    }
}

@media (max-width:768px) {

    body {
        font-size: 25%;
    }

    article {
        width: 100%;
    }

    html {
        font-size: 2rem;
    }
}

@media (max-width: 1024PX) {

    body {
        font-size: 15PX;
    }

    html {
        font-size: 1rem;
    }
}

@media (max-width:50px) {

    body {
        font-size: 10%;
    }

    html {
        font-size: 0.5rem;
    }
}

@media screen and  (max-width:550px) {

    .about-us__image div {
        padding: 32px;
    }

    .about-us__button {
        top: 44%;
    }
        .about-us__content{
        padding: 32px;
        }
}